
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1>About Us</h1>
    <img src="{% static 'img/logo.jpeg' %}" alt="">
    <p>
        We started this company in hopes of giving back to the working class blue collar Americans. Us here at Lost Skills Co. are trying to bring light to the everyday dangers of blue collar workers. From tow truck drivers to quarry workers there are fatal dangers in all forms of blue collar work. In 2022 there were 5,468 fatal work related accidents that is a 5.7% increase from 2022. Over the years OSHA and MSHA work tirelessly to ensure safe work environments but that doesn't mean anything can't and wont happen. From a simple 6ft fall of a later to re-energizing a unit and getting arc flash. These are the day to day jobs that 19.6 million blue collar Americans do to support their families. 
        We know that we wont be able to reach everyone but as long as we can make a difference in one family at a time that is what our true goal is. I hope that if you or someone you know has been affected in a fatal work related accident please reach out to us to help you set up a GoFundMe. 
        We would love to be the ones to assist you in anyway possible.
    </p>
</body>
</html>