{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Skills Co.</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a class="nav-logo" href="{% url 'home' %}"><img src="{% static 'img/nav-logo.jpeg' %}" alt=""></a>
            <div class="nav-left center-row">
                
                <a href="{% url 'product_list' %}">Products</a>
                <a href="{% url 'home' %}#about-container">About</a>
                <a href="#contact-container">Contact</a>
            </div>
            <div class="nav-right center-row">
                {% if user.is_authenticated %}
                    <a href="#">{{ user.username }}</a>
                    <form action="#">
                        {% csrf_token %}
                        <button type="submit"><a href="#">Logout</a></button>
                    </form>
                    <a href="{% url 'cart' %}">View Cart</a>
                {% else %}
                    <a href="#">Login</a>
                    <a href="#">Sign Up</a>
                {% endif %}
            </div>
            <div class="hamburger" onclick="toggleDropdown()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
            <!-- Dropdown menu -->
            <div class="nav-dropdown" id="navDropdown">
                <a href="{% url 'product_list' %}">Products</a>
                <a href="#about-container">About</a>
                <a href="#contact-container">Contact</a>
                {% if user.is_authenticated %}
                    <a href="#">{{ user.username }}</a>
                    <a href="{% url 'cart' %}">View Cart</a>
                {% else %}
                    <a href="#">Login</a>
                    <a href="#">Sign Up</a>
                {% endif %}
            </div>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
            <div class="footer-container">
                <div class="news-letter center-column">
                    <h2>NEWSLETTER</h2>
                    <input type="text" placeholder="Name" />
                    <input type="text" placeholder="Email" />
                    <button className="btn btn-large btn-outline-danger">Sign-Up</button>
                </div>
                <div class="help center-column">
                    <h2>HELP</h2>
                    <a href="">Order Status</a>
                    <a href="">Returns</a>
                    <a href="">FAQs</a>
                    <a href="">Military Dicounts</a>
                </div>
                <div class="contact center-column">
                    <h2>CONTACT US</h2>
                    <a href="">damian@lostskillsco.com</a>
                    <a href="">+1(800) 867-5309</a>
                </div>
            </div>
    </footer>

    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('navDropdown');
            dropdown.style.display = dropdown.style.display === 'flex' ? 'none' : 'flex';
        }
    </script>
</body>
</html>